<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Test Set"
            visible="true"
            id="cosy.sbg.softwarepraktikum.plugin.actionSet">
         <menu
               label="Folding Overview"
               id="foldingDebugMenu">
            <separator
                  name="foldingDebugGroup">
            </separator>
         </menu>
         <action
               class="cosy.sbg.softwarepraktikum.plugin.actions.FoldingDebuggerMenuPoint"
               icon="icons/sample.gif"
               id="cosy.sbg.softwarepraktikum.plugin.actions.FoldingDebugger"
               label="Folding Debug Action"
               menubarPath="foldingDebugMenu/foldingDebugGroup"
               toolbarPath="foldingDebugGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   
   <extension
    point = "org.eclipse.ui.editors">
	      <editor
	            class="cosy.sbg.softwarepraktikum.plugin.reditor.RegexEditor"
	            id="org.eclipse.ui.examples.contributions.editor"
	            name="Regex C/C++ Editor">
	      </editor>
	</extension>
   
   <extension 
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            platform="*"
            name="Regex C/C++ Debugger"
            modes="run, core, attach"
            cpu="native"
            class="org.eclipse.cdt.debug.mi.core.GDBCDIDebugger2"
            id="cosy.sbg.softwarepraktikum.plugin.cdthighlighting.SampleDebugger">
            <buildIdPattern
               pattern="cdt\.managedbuild\.config\.gnu\..*">
         </buildIdPattern>
      </debugger>
   </extension>   
   
   <extension
         point="org.eclipse.cdt.ui.foldingStructureProviders">
      <provider
            class="cosy.sbg.softwarepraktikum.plugin.cdtfolding.CDTFolderStructureProvider"
            id="Regex C/C++ Folding"
            name="Regex C/C++ Folding"
            preferencesClass="cosy.sbg.softwarepraktikum.plugin.cdtfolding.CDTFoldingPreferenceBlock">
      </provider>
   </extension>
</plugin>